@charset "UTF-8";
/* Layout.Css
---------------------------------------------------- */
html,body{height:100%;min-width:980px;}
#wrapper{
	min-height:100%;
	color:#333;
	font-size:14px;
	position:relative;
}
.inner{
	width:960px;
	margin:0px auto;
}

#header{
	margin-bottom:2px;
	border-bottom:1px solid #90A4C6;
	position:relative;
}
#header:after{
	content:"";
	display:block;
	width:100%;
	border-bottom:2px solid #C0CDE0;
	position:absolute;
	bottom:-3px;
	left:0;
}
#header .inner{
	margin:0px auto;
	padding:0 10px;
}
.logo{float:left;}
.logo a{display:inline-block;}

#container{
	position:relative;
}
#container .inner{
	padding:17px 10px 211px;
}
#pankz{margin-bottom:12px;}
#pankz > *{
	display:inline-block;
	vertical-align:middle;
	font-size:12px;
	margin-left:7px;
}
#pankz .btnHome{margin:0;}

#sideNavPc{
	width:210px;
	float:left;
}
#sideNavSp{display:none;}
#sideNavPc > ul{border:4px solid #eee;}
#sideNavPc > ul > li > a,
#sideNavPc li li{border-top:4px solid #eee;}
#sideNavPc > ul > li:first-child > a{border:none}

#sideNavPc a{
	display:block;
	color:#333;
}
#sideNavPc li li a{padding:6px 8px;}

.status .nav_status a,
.infochange .nav_infochange a,
.addresschange1 .nav_addresschange1 a,
.addresschange2 .nav_addresschange2 a,
.paychange .nav_paychange a,
.mail .nav_mail a,
.nickname .nav_nickname a,
.anotherteaching .nav_anotherteaching a,
.moviecource .nav_moviecource a,
.mockexamin .nav_mockexamin a,
.prize .nav_prize a,
.everyanswers .nav_everyanswers a,
.variousclaim .nav_variousclaim a,
.mailDeli .nav_maildeli a,
.teacher .nav_teacher a,
.senior .nav_senior a,
.postz .nav_postz a,
.manalog .nav_manalog a,
.checkclass .nav_checkclass a,
.movieclass .nav_movieclass a,
.movieuser .nav_movieuser a,
.provisioninfo .nav_provisioninfo a,
.examinfo .nav_examinfo a,
.guidebook .nav_guidebook a,
.howto .nav_howto a,
#sideNavPc li a.on{
	background-color:#ddd;
	font-weight:bold;
}

#sideNavPc .hasIcn{padding:0;}
#sideNavPc .hasIcn span{
	display:block;
	padding:6px 10px;
}
#sideNavPc .navMailNew{padding-right:4px;}
#sideNavPc .navMailNew span{
	background:url(../img/icn_mail_new.png) right center no-repeat;
	padding-right:48px;
}
#sideNavPc .navError{padding-right:4px;}
#sideNavPc .navError span{
	background:url(../img/icn_error.png) right center no-repeat;
	padding-right:48px;
}
#sideNavPc .navBlank{padding-right:6px;}
#sideNavPc .navBlank span{
	background:url(../img/icn_blank.png) right center no-repeat;
	padding-right:23px;
}
#sideNavPc span.txtLong{
	padding-right: 18px;
	letter-spacing:0;
}


#content{/*sideNavが有時のコンテンツ*/
	width:720px;
	float:right;
}

.toTopWrap{
	width:51px;
	height:51px;
	position:fixed;
	bottom:20px;
	right:20px;
	z-index:100;
	overflow:hidden;
}
#toTop{
	position:absolute;
	top:0;
	right:-60px;
}
#toTop:hover{
	text-decoration:none;
	opacity:0.8;
}
#footer{
	background-color:#eee;
	height:193px;
	width:100%;
	text-align:center;
	position:absolute;
	bottom:0;
}
#footer .inner{
	padding:34px 10px 15px;
}
.ftLogo{margin-bottom:20px;}
.ftLinks{margin-bottom:10px;}
.ftLinks li{display:inline-block;}
.ftLinks a{
	color:#333;
	font-size:12px;
}
.ftLinks2{display:none;}
#copyright{
	color:#777;
	font-size:12px;
}



/*=== メディアクエリ ===*/
@media screen and (min-width:768px){
}
@media screen and (max-device-width:768px){
/*iPad*/
body{letter-spacing:0.04em;}
}
@media screen and (max-width:767px){

html,body{min-width:0px;}
body{
	-webkit-text-size-adjust:100%;
	letter-spacing:0.06em;
}
.pcBrows{display:none;}
.spDevice{display:block;}
.spNone{display:none !important;}

.inner{width:auto;}

.spPosR{
	position:relative;
	margin-left:-10px;
	margin-right:-10px;
}
.logo{
	width:116px;
	padding:3px 0 3px 10px;
}
.logo img{width:100%;height:auto;}
#sideNavPc{display:none;}
#sideNavSp{
	display:block;
	float:right;
}
#sideNavSp a{display:block;}
#sideNavSp > ul{display:table;}
#sideNavSp > ul > li{
	display:table-cell;
	width:59px;
	border:1px solid #fff;
	border-right:none;
}
#sideNavSp > ul > li > a{
	background-color:#00a0da;
	height:50px;
	color:#fff;
	font-size:16px;
	font-weight:bold;
	text-align:center;
	line-height:50px;
}
#sideNavSp > ul > li > a.opn{background-color:#13438F;}
#sideNavSp > ul ul{
	display:none;
	width:100%;
	border-top:1px solid #eee;
	box-shadow:0px 1px 3px rgba(0,0,0,0.3);
	position:absolute;
	left:0;
	top:52px;
	z-index:100;
}
#sideNavSp li li a{
	background-color:#13438f;
	padding:6px 10px;
	color:#fff;
	border-bottom:1px solid #4068a6;
}
#sideNavSp .hasIcn{padding:0;}
#sideNavSp .hasIcn span{
	display:block;
	padding:6px 10px;
}
#sideNavSp .navMailNew{padding-right:4px;}
#sideNavSp .navMailNew span:after{
	content:"";
	display:inline-block;
	width:65px;
	height:21px;
	background:url(../img/icn_mail_new_sp.png) right top no-repeat;
	background-size:60px 20px;
	vertical-align:middle;
}
#sideNavSp .navError{padding-right:4px;}
#sideNavSp .navError span:after{
	content:"";
	display:inline-block;
	width:65px;
	height:21px;
	background:url(../img/icn_error_sp.png) right top no-repeat;
	background-size:60px 20px;
	vertical-align:middle;
}
#sideNavSp .navBlank{padding-right:6px;}
#sideNavSp .navBlank span{
	background:url(../img/icn_blank_sp.png) right center no-repeat;
	padding-right:25px;
	background-size:21px 17px;
}
#sideNavSp li li .navClose{
	display:block;
	background-color:#13438f;
	padding:10px;
}
#sideNavSp li li .navClose a{
	background-color:#020f43;
	text-align:center;
	border-bottom:none;
}

#container .inner{
	padding:15px 10px 365px;/*300+65*/
}
#pankz{display:none;}
#content{
	width:auto;
	float:none;
}
.toTopWrap{
	width:40px;
	height:40px;
	bottom:10px;
	right:10px;
}
#toTop{
	width:40px;
	height:40px;
}
#toTop img{width:100%;height:auto;}

#footer{height:300px;}
#footer .inner{
	padding:30px 10px 35px;
}
.ftLinks{margin-bottom:15px;}
.ftLinks li{
	display:block;
	margin-bottom:5px;
}
.ftLinks2{
	display:block;
	height:25px;
	margin-bottom:15px;
	text-align:center;
	position:relative;
}
.ftLinks2 > span{
	height:100%;
	border-left:1px solid #000;
}
.ftLinks2 *{
	display:inline-block;
	vertical-align:middle;
}
.ftLinks2 a{margin:0 20px;}
.ftLinks2 a span{
	margin-left:7px;
	font-weight:bold;
}

}

.ftlogo {
	padding-top:20px;
	padding-bottom:20px;
}

