@charset "UTF-8";
/* リセット
---------------------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{
	margin:0;
	padding:0;
}

table{
	border-collapse:collapse;
	border-spacing:0;
	font-size:100%;
}
fieldset,img{
	border:0;
	vertical-align:top;
}
address,caption,cite,code,dfn,em,strong,th,var{
	font-style:normal;
	font-weight:normal;
}

li{
	list-style:none;
}

caption,th{
	text-align:left;
}

h1,h2,h3,h4,h5,h6,small{
	font-size:100%;
	font-weight:normal;
}

q:before,q:after{content:'';
}

abbr,acronym{
	border:0;
	font-variant:normal;
}

br{
	letter-spacing:normal;
}

/* to preserve line-height and selector appearance */
sup{
	vertical-align:text-top;
}

sub{
	vertical-align:text-bottom;
}
input,textarea,select{
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
}
/*to enable resizing for IE*/
input,textarea,select{
	*font-size:100%;
}

.hover{
}

/* ページ共通
---------------------------------------------------- */
html{
	color:#333333;
	letter-spacing:0.05em;
}


body{
	margin:0;
	padding:0;
	font:12px/1.4 "ＭＳ Ｐゴシック", "Hiragino Kaku Gothic Pro", "Hiragino Kaku Gothic Pro W3", Osaka, Arial, Helvetica, sans-serif;
	color:#000000;
}

*:first-child+html body{
	font-size:87%;
}

a{
	color:#0CA3D8;
	text-decoration:none;
	cursor:pointer;
	text-decoration:none;
}

a:hover{
	color:#0CA3D8;
	text-decoration:underline;
}

.clearfix:after{
  content:".";  /* 新しい要素を作る */
  display:block;  /* ブロックレベル要素に */
  clear:both;
  height:0;
  visibility:hidden;
}

.clearfix{min-height:1px;}
* html .clearfix{
  height:1px;
  /*\*//*/
  height:auto;
  overflow:hidden;
  /**/
}

.clear{clear:both;}

.none{
	margin:0;
	padding:0;
	border:none;
}

/*-- Width --*/
.WAuto{width:auto;}
.W0{width:0;}
.W5{width:5px;}
.W10{width:10px;}
.W15{width:15px;}
.W20{width:20px;}
.W25{width:25px;}
.W30{width:30px;}
.W35{width:35px;}
.W40{width:40px;}
.W45{width:45px;}
.W50{width:50px;}
.W55{width:55px;}
.W60{width:60px;}
.W65{width:65px;}
.W70{width:70px;}
.W75{width:75px;}
.W80{width:80px;}
.W85{width:85px;}
.W90{width:90px;}
.W95{width:95px;}
.W100{width:100px;}
.W110{width:110px;}
.W120{width:120px;}
.W130{width:130px;}
.W140{width:140px;}
.W150{width:150px;}
.W155{width:155px;}
.W160{width:160px;}
.W170{width:170px;}
.W180{width:180px;}
.W185{width:185px;}
.W190{width:190px;}
.W200{width:200px;}
.W210{width:210px;}
.W220{width:220px;}
.W230{width:230px;}
.W240{width:240px;}
.W250{width:250px;}
.W260{width:260px;}
.W270{width:270px;}
.W280{width:280px;}
.W290{width:290px;}
.W300{width:300px;}
.W310{width:310px;}
.W320{width:320px;}
.W330{width:330px;}
.W340{width:340px;}
.W350{width:350px;}
.W360{width:360px;}
.W370{width:370px;}
.W380{width:380px;}
.W390{width:390px;}
.W400{width:400px;}
.W410{width:410px;}
.W420{width:420px;}
.W430{width:430px;}
.W440{width:440px;}
.W450{width:450px;}
.W460{width:460px;}
.W470{width:470px;}
.W480{width:480px;}
.W490{width:490px;}
.W500{width:500px;}
.W540{width:540px;}
.W1P{width:1%;}
.W2P{width:2%;}
.W3P{width:3%;}
.W4P{width:4%;}
.W5P{width:5%;}
.W6P{width:6%;}
.W7P{width:7%;}
.W8P{width:8%;}
.W9P{width:9%;}
.W10P{width:10%;}
.W11P{width:11%;}
.W12P{width:12%;}
.W13P{width:13%;}
.W14P{width:14%;}
.W15P{width:15%;}
.W16P{width:16%;}
.W17P{width:17%;}
.W18P{width:18%;}
.W19P{width:19%;}
.W20P{width:20%;}
.W21P{width:21%;}
.W22P{width:22%;}
.W23P{width:23%;}
.W24P{width:24%;}
.W25P{width:25%;}
.W26P{width:26%;}
.W27P{width:27%;}
.W28P{width:28%;}
.W29P{width:29%;}
.W30P{width:30%;}
.W31P{width:31%;}
.W32P{width:32%;}
.W33P{width:33%;}
.W34P{width:34%;}
.W35P{width:35%;}
.W36P{width:36%;}
.W37P{width:37%;}
.W38P{width:38%;}
.W39P{width:39%;}
.W40P{width:40%;}
.W41P{width:41%;}
.W42P{width:42%;}
.W43P{width:43%;}
.W44P{width:44%;}
.W45P{width:45%;}
.W46P{width:46%;}
.W47P{width:47%;}
.W48P{width:48%;}
.W49P{width:49%;}
.W50P{width:50%;}
.W51P{width:51%;}
.W52P{width:52%;}
.W53P{width:53%;}
.W54P{width:54%;}
.W55P{width:55%;}
.W56P{width:56%;}
.W57P{width:57%;}
.W58P{width:58%;}
.W59P{width:59%;}
.W60P{width:60%;}
.W61P{width:61%;}
.W62P{width:62%;}
.W63P{width:63%;}
.W64P{width:64%;}
.W65P{width:65%;}
.W66P{width:66%;}
.W67P{width:67%;}
.W68P{width:68%;}
.W69P{width:69%;}
.W70P{width:70%;}
.W71P{width:71%;}
.W72P{width:72%;}
.W73P{width:73%;}
.W74P{width:74%;}
.W75P{width:75%;}
.W76P{width:76%;}
.W77P{width:77%;}
.W78P{width:78%;}
.W79P{width:79%;}
.W80P{width:80%;}
.W81P{width:81%;}
.W82P{width:82%;}
.W83P{width:83%;}
.W84P{width:84%;}
.W85P{width:85%;}
.W86P{width:86%;}
.W87P{width:87%;}
.W88P{width:88%;}
.W89P{width:89%;}
.W90P{width:90%;}
.W91P{width:91%;}
.W92P{width:92%;}
.W93P{width:93%;}
.W94P{width:94%;}
.W95P{width:95%;}
.W96P{width:96%;}
.W97P{width:97%;}
.W98P{width:98%;}
.W99P{width:99%;}
.W100P{width:100%;}

/*-- Height --*/
.HAuto{height:auto;}
.H0{height:0;}
.H10{height:10px;}
.H20{height:20px;}
.H30{height:30px;}
.H40{height:40px;}
.H50{height:50px;}
.H60{height:60px;}
.H70{height:70px;}
.H80{height:80px;}
.H90{height:90px;}
.H100{height:100px;}
.H110{height:110px;}
.H120{height:120px;}
.H130{height:130px;}
.H140{height:140px;}
.H150{height:150px;}
.H160{height:160px;}
.H170{height:170px;}
.H180{height:180px;}
.H190{height:190px;}
.H200{height:200px;}

/*-- Margin --*/
.M0{margin:0;}
.M5{margin:5px;}
.M10{margin:10px;}
.M15{margin:15px;}
.M20{margin:20px;}
.M25{margin:25px;}

.Mauto{margin:auto;}
.M0a{margin:0 auto;}
.MLRa{margin-left:auto;margin-right:auto;}
.M0_5{margin:0 5px;}
.M0_10{margin:0 10px;}
.M0_15{margin:0 15px;}
.M0_20{margin:0 20px;}
.M0_25{margin:0 25px;}
.M0_30{margin:0 30px;}

.MT0{margin-top:0px;}
.MT1{margin-top:1px;}
.MT2{margin-top:2px;}
.MT3{margin-top:3px;}
.MT4{margin-top:4px;}
.MT5{margin-top:5px;}
.MT6{margin-top:6px;}
.MT7{margin-top:7px;}
.MT8{margin-top:8px;}
.MT9{margin-top:9px;}
.MT10{margin-top:10px;}
.MT11{margin-top:11px;}
.MT12{margin-top:12px;}
.MT13{margin-top:13px;}
.MT14{margin-top:14px;}
.MT15{margin-top:15px;}
.MT16{margin-top:16px;}
.MT17{margin-top:17px;}
.MT18{margin-top:18px;}
.MT19{margin-top:19px;}
.MT20{margin-top:20px;}
.MT21{margin-top:21px;}
.MT22{margin-top:22px;}
.MT23{margin-top:23px;}
.MT24{margin-top:24px;}
.MT25{margin-top:25px;}
.MT26{margin-top:26px;}
.MT27{margin-top:27px;}
.MT28{margin-top:28px;}
.MT29{margin-top:29px;}
.MT30{margin-top:30px;}
.MT31{margin-top:31px;}
.MT32{margin-top:32px;}
.MT33{margin-top:33px;}
.MT34{margin-top:34px;}
.MT35{margin-top:35px;}
.MT36{margin-top:36px;}
.MT37{margin-top:37px;}
.MT38{margin-top:38px;}
.MT39{margin-top:39px;}
.MT40{margin-top:40px;}
.MT45{margin-top:45px;}
.MT50{margin-top:50px;}
.MT55{margin-top:55px;}
.MT60{margin-top:60px;}
.MTex{margin-top:65px;}

.MR0{margin-right:0px;}
.MR1{margin-right:1px;}
.MR2{margin-right:2px;}
.MR3{margin-right:3px;}
.MR4{margin-right:4px;}
.MR5{margin-right:5px;}
.MR6{margin-right:6px;}
.MR7{margin-right:7px;}
.MR8{margin-right:8px;}
.MR9{margin-right:9px;}
.MR10{margin-right:10px;}
.MR11{margin-right:11px;}
.MR12{margin-right:12px;}
.MR13{margin-right:13px;}
.MR14{margin-right:14px;}
.MR15{margin-right:15px;}
.MR16{margin-right:16px;}
.MR17{margin-right:17px;}
.MR18{margin-right:18px;}
.MR19{margin-right:19px;}
.MR20{margin-right:20px;}
.MR21{margin-right:21px;}
.MR22{margin-right:22px;}
.MR23{margin-right:23px;}
.MR24{margin-right:24px;}
.MR25{margin-right:25px;}
.MR26{margin-right:26px;}
.MR27{margin-right:27px;}
.MR28{margin-right:28px;}
.MR29{margin-right:29px;}
.MR30{margin-right:30px;}
.MR31{margin-right:31px;}
.MR32{margin-right:32px;}
.MR33{margin-right:33px;}
.MR34{margin-right:34px;}
.MR35{margin-right:35px;}
.MR36{margin-right:36px;}
.MR37{margin-right:37px;}
.MR38{margin-right:38px;}
.MR39{margin-right:39px;}
.MR40{margin-right:40px;}
.MR45{margin-right:45px;}
.MR50{margin-right:50px;}
.MR55{margin-right:55px;}
.MR60{margin-right:60px;}
.MRex{margin-right:65px;}

.MB0{margin-bottom:0px !important;}
.MB1{margin-bottom:1px;}
.MB2{margin-bottom:2px;}
.MB3{margin-bottom:3px;}
.MB4{margin-bottom:4px;}
.MB5{margin-bottom:5px;}
.MB6{margin-bottom:6px;}
.MB7{margin-bottom:7px;}
.MB8{margin-bottom:8px;}
.MB9{margin-bottom:9px;}
.MB10{margin-bottom:10px;}
.MB11{margin-bottom:11px;}
.MB12{margin-bottom:12px;}
.MB13{margin-bottom:13px;}
.MB14{margin-bottom:14px;}
.MB15{margin-bottom:15px;}
.MB16{margin-bottom:16px;}
.MB17{margin-bottom:17px;}
.MB18{margin-bottom:18px;}
.MB19{margin-bottom:19px;}
.MB20{margin-bottom:20px !important;}
.MB21{margin-bottom:21px;}
.MB22{margin-bottom:22px;}
.MB23{margin-bottom:23px;}
.MB24{margin-bottom:24px;}
.MB25{margin-bottom:25px;}
.MB26{margin-bottom:26px;}
.MB27{margin-bottom:27px;}
.MB28{margin-bottom:28px;}
.MB29{margin-bottom:29px;}
.MB30{margin-bottom:30px;}
.MB31{margin-bottom:31px;}
.MB32{margin-bottom:32px;}
.MB33{margin-bottom:33px;}
.MB34{margin-bottom:34px;}
.MB35{margin-bottom:35px;}
.MB36{margin-bottom:36px;}
.MB37{margin-bottom:37px;}
.MB38{margin-bottom:38px;}
.MB39{margin-bottom:39px;}
.MB40{margin-bottom:40px;}
.MB45{margin-bottom:45px;}
.MB50{margin-bottom:50px;}
.MB55{margin-bottom:55px;}
.MB60{margin-bottom:60px;}
.MBex{margin-bottom:65px;}

.ML0{margin-left:0px;}
.ML1{margin-left:1px;}
.ML2{margin-left:2px;}
.ML3{margin-left:3px;}
.ML4{margin-left:4px;}
.ML5{margin-left:5px;}
.ML6{margin-left:6px;}
.ML7{margin-left:7px;}
.ML8{margin-left:8px;}
.ML9{margin-left:9px;}
.ML10{margin-left:10px;}
.ML11{margin-left:11px;}
.ML12{margin-left:12px;}
.ML13{margin-left:13px;}
.ML14{margin-left:14px;}
.ML15{margin-left:15px;}
.ML16{margin-left:16px;}
.ML17{margin-left:17px;}
.ML18{margin-left:18px;}
.ML19{margin-left:19px;}
.ML20{margin-left:20px;}
.ML21{margin-left:21px;}
.ML22{margin-left:22px;}
.ML23{margin-left:23px;}
.ML24{margin-left:24px;}
.ML25{margin-left:25px;}
.ML26{margin-left:26px;}
.ML27{margin-left:27px;}
.ML28{margin-left:28px;}
.ML29{margin-left:29px;}
.ML30{margin-left:30px;}
.ML31{margin-left:31px;}
.ML32{margin-left:32px;}
.ML33{margin-left:33px;}
.ML34{margin-left:34px;}
.ML35{margin-left:35px;}
.ML36{margin-left:36px;}
.ML37{margin-left:37px;}
.ML38{margin-left:38px;}
.ML39{margin-left:39px;}
.ML40{margin-left:40px;}
.ML45{margin-left:45px;}
.ML50{margin-left:50px;}
.ML55{margin-left:55px;}
.ML60{margin-left:60px;}
.MLex{margin-left:65px;}

/*-- Padding --*/
.P0{padding:0;}
.P5{padding:5px;}
.P10{padding:10px;}
.P15{padding:15px;}
.P20{padding:20px;}
.P25{padding:25px;}

.P0_5{padding:0 5px;}
.P0_10{padding:0 10px;}
.P0_15{padding:0 15px;}
.P0_20{padding:0 20px;}
.P0_25{padding:0 25px;}

.P5_0{padding:5px 0;}
.P5_10{padding:5px 10px;}
.P5_15{padding:5px 15px;}
.P5_20{padding:5px 20px;}

.P10_0{padding:10px 0;}
.P10_5{padding:10px 5px;}
.P10_15{padding:10px 15px;}
.P10_20{padding:10px 20px;}

.P15_0{padding:15px 0;}
.P15_5{padding:15px 5px;}
.P15_10{padding:15px 10px;}
.P15_20{padding:15px 20px;}

.P20_0{padding:20px 0;}
.P20_5{padding:20px 5px;}
.P20_10{padding:20px 10px;}
.P20_15{padding:20px 15px;}
.P25_0{padding:25px 0;}

.P30_0{padding:30px 0;}

.PT0{padding-top:0px;}
.PT1{padding-top:1px;}
.PT2{padding-top:2px;}
.PT3{padding-top:3px;}
.PT4{padding-top:4px;}
.PT5{padding-top:5px;}
.PT6{padding-top:6px;}
.PT7{padding-top:7px;}
.PT8{padding-top:8px;}
.PT9{padding-top:9px;}
.PT10{padding-top:10px;}
.PT11{padding-top:11px;}
.PT12{padding-top:12px;}
.PT13{padding-top:13px;}
.PT14{padding-top:14px;}
.PT15{padding-top:15px;}
.PT16{padding-top:16px;}
.PT17{padding-top:17px;}
.PT18{padding-top:18px;}
.PT19{padding-top:19px;}
.PT20{padding-top:20px;}
.PT21{padding-top:21px;}
.PT22{padding-top:22px;}
.PT23{padding-top:23px;}
.PT24{padding-top:24px;}
.PT25{padding-top:25px;}
.PT26{padding-top:26px;}
.PT27{padding-top:27px;}
.PT28{padding-top:28px;}
.PT29{padding-top:29px;}
.PT30{padding-top:30px;}
.PT31{padding-top:31px;}
.PT32{padding-top:32px;}
.PT33{padding-top:33px;}
.PT34{padding-top:34px;}
.PT35{padding-top:35px;}
.PT36{padding-top:36px;}
.PT37{padding-top:37px;}
.PT38{padding-top:38px;}
.PT39{padding-top:39px;}
.PT40{padding-top:40px;}
.PT45{padding-top:45px;}
.PT50{padding-top:50px;}
.PT55{padding-top:55px;}
.PT60{padding-top:60px;}
.PTex{padding-top:65px;}

.PR0{padding-right:0px;}
.PR1{padding-right:1px;}
.PR2{padding-right:2px;}
.PR3{padding-right:3px;}
.PR4{padding-right:4px;}
.PR5{padding-right:5px;}
.PR6{padding-right:6px;}
.PR7{padding-right:7px;}
.PR8{padding-right:8px;}
.PR9{padding-right:9px;}
.PR10{padding-right:10px;}
.PR11{padding-right:11px;}
.PR12{padding-right:12px;}
.PR13{padding-right:13px;}
.PR14{padding-right:14px;}
.PR15{padding-right:15px;}
.PR16{padding-right:16px;}
.PR17{padding-right:17px;}
.PR18{padding-right:18px;}
.PR19{padding-right:19px;}
.PR20{padding-right:20px;}
.PR21{padding-right:21px;}
.PR22{padding-right:22px;}
.PR23{padding-right:23px;}
.PR24{padding-right:24px;}
.PR25{padding-right:25px;}
.PR26{padding-right:26px;}
.PR27{padding-right:27px;}
.PR28{padding-right:28px;}
.PR29{padding-right:29px;}
.PR30{padding-right:30px;}
.PR31{padding-right:31px;}
.PR32{padding-right:32px;}
.PR33{padding-right:33px;}
.PR34{padding-right:34px;}
.PR35{padding-right:35px;}
.PR36{padding-right:36px;}
.PR37{padding-right:37px;}
.PR38{padding-right:38px;}
.PR39{padding-right:39px;}
.PR40{padding-right:40px;}
.PR45{padding-right:45px;}
.PR50{padding-right:50px;}
.PR55{padding-right:55px;}
.PR60{padding-right:60px;}
.PRex{padding-right:65px;}

.PB0{padding-bottom:0px;}
.PB1{padding-bottom:1px;}
.PB2{padding-bottom:2px;}
.PB3{padding-bottom:3px;}
.PB4{padding-bottom:4px;}
.PB5{padding-bottom:5px;}
.PB6{padding-bottom:6px;}
.PB7{padding-bottom:7px;}
.PB8{padding-bottom:8px;}
.PB9{padding-bottom:9px;}
.PB10{padding-bottom:10px;}
.PB11{padding-bottom:11px;}
.PB12{padding-bottom:12px;}
.PB13{padding-bottom:13px;}
.PB14{padding-bottom:14px;}
.PB15{padding-bottom:15px;}
.PB16{padding-bottom:16px;}
.PB17{padding-bottom:17px;}
.PB18{padding-bottom:18px;}
.PB19{padding-bottom:19px;}
.PB20{padding-bottom:20px;}
.PB21{padding-bottom:21px;}
.PB22{padding-bottom:22px;}
.PB23{padding-bottom:23px;}
.PB24{padding-bottom:24px;}
.PB25{padding-bottom:25px;}
.PB26{padding-bottom:26px;}
.PB27{padding-bottom:27px;}
.PB28{padding-bottom:28px;}
.PB29{padding-bottom:29px;}
.PB30{padding-bottom:30px;}
.PB31{padding-bottom:31px;}
.PB32{padding-bottom:32px;}
.PB33{padding-bottom:33px;}
.PB34{padding-bottom:34px;}
.PB35{padding-bottom:35px;}
.PB36{padding-bottom:36px;}
.PB37{padding-bottom:37px;}
.PB38{padding-bottom:38px;}
.PB39{padding-bottom:39px;}
.PB40{padding-bottom:40px;}
.PB45{padding-bottom:45px;}
.PB50{padding-bottom:50px;}
.PB55{padding-bottom:55px;}
.PB60{padding-bottom:60px;}
.PBex{padding-bottom:65px;}

.PL1E{padding-left:1em;}
.PL0{padding-left:0px;}
.PL1{padding-left:1px;}
.PL2{padding-left:2px;}
.PL3{padding-left:3px;}
.PL4{padding-left:4px;}
.PL5{padding-left:5px;}
.PL6{padding-left:6px;}
.PL7{padding-left:7px;}
.PL8{padding-left:8px;}
.PL9{padding-left:9px;}
.PL10{padding-left:10px;}
.PL11{padding-left:11px;}
.PL12{padding-left:12px;}
.PL13{padding-left:13px;}
.PL14{padding-left:14px;}
.PL15{padding-left:15px;}
.PL16{padding-left:16px;}
.PL17{padding-left:17px;}
.PL18{padding-left:18px;}
.PL19{padding-left:19px;}
.PL20{padding-left:20px;}
.PL21{padding-left:21px;}
.PL22{padding-left:22px;}
.PL23{padding-left:23px;}
.PL24{padding-left:24px;}
.PL25{padding-left:25px;}
.PL26{padding-left:26px;}
.PL27{padding-left:27px;}
.PL28{padding-left:28px;}
.PL29{padding-left:29px;}
.PL30{padding-left:30px;}
.PL31{padding-left:31px;}
.PL32{padding-left:32px;}
.PL33{padding-left:33px;}
.PL34{padding-left:34px;}
.PL35{padding-left:35px;}
.PL36{padding-left:36px;}
.PL37{padding-left:37px;}
.PL38{padding-left:38px;}
.PL39{padding-left:39px;}
.PL40{padding-left:40px;}
.PL45{padding-left:45px;}
.PL50{padding-left:50px;}
.PL55{padding-left:55px;}
.PL60{padding-left:60px;}
.PLex{padding-left:65px;}

.disI{display:inline;}
.disB{display:block;}
.disIB{display:inline-block;}
.disT{display:table;}
.disT > *{display:table-cell;}
.disTC{display:table-cell;}
.disN{display:none;}

.taL{text-align:left;}
.taR{text-align:right;}
.taC{text-align:center;}

.vaT{vertical-align:top;}
.vaM{vertical-align:middle;}
.vaB{vertical-align:bottom;}

.fz6{font-size:6px;}
.fz7{font-size:7px;}
.fz8{font-size:8px;}
.fz9{font-size:9px;}
.fz10{font-size:10px;}
.fz11{font-size:11px;}
.fz12{font-size:12px;}
.fz13{font-size:13px;}
.fz14{font-size:14px;}
.fz15{font-size:15px;}
.fz16{font-size:16px;}
.fz17{font-size:17px;}
.fz18{font-size:18px;}
.fz19{font-size:19px;}
.fz20{font-size:20px;}
.fz21{font-size:21px;}
.fz22{font-size:22px;}
.fz23{font-size:23px;}
.fz24{font-size:24px;}
.fz25{font-size:25px;}
.fz26{font-size:26px;}
.fz27{font-size:27px;}
.fz28{font-size:28px;}
.fz29{font-size:29px;}
.fz30{font-size:30px;}
.fz31{font-size:31px;}
.fz32{font-size:32px;}

.fsN{font-style:normal;}
.fsI{font-style:italic;}
.fwB{font-weight:bold;}
.fwN{font-weight:normal;}

.lh9{line-height:90%;}
.lh10{line-height:100%;}
.lh11{line-height:110%;}
.lh12{line-height:120%;}
.lh13{line-height:130%;}
.lh14{line-height:140%;}
.lh15{line-height:150%;}
.lh16{line-height:160%;}
.lh17{line-height:170%;}
.lh18{line-height:180%;}
.lh19{line-height:190%;}
.lh20{line-height:200%;}

.tblLoF{table-layout:fixed;}

.fltL{float:left;}
.fltR{float:right;}
.fltN{float:none;}

.posS{position:static;}
.posR{position:relative;}
.posA{position:absolute;}
.posF{position:fixed;}
*[class*="abs"]{
	display:block;
	position:absolute;
}
.posC{
	margin:auto;
	top:0;
	bottom:0;
	left:0;
	right:0;
}

.ofA{overflow:auto;}
.ofH{overflow:hidden;}
.ofS{overflow:scroll;}
.ofV{overflow:visible;}

.BSD{border:solid 1px;}
.BDT{border:dotted 1px;}
.BDS{border:dashed 1px;}
.BDN{border:none;}

.bdRds5{border-radius:5px;}
.bdRdsT5{border-radius:5px 5px 0 0;}
.bdRdsB5{border-radius:0 0 5px 5px;}
.bdRdsL5{border-radius:5px 0 0 5px;}
.bdRdsR5{border-radius:0 5px 5px 0;}
.bdRds8{border-radius:8px;}
.bdRdsT8{border-radius:8px 8px 0 0;}
.bdRdsB8{border-radius:0 0 8px 8px;}
.bdRdsL8{border-radius:8px 0 0 8px;}
.bdRdsR8{border-radius:0 8px 8px 0;}
.bdRds10{border-radius:10px;}
.bdRdsT10{border-radius:10px 10px 0 0;}
.bdRdsB10{border-radius:0 0 10px 10px;}
.bdRdsL10{border-radius:10px 0 0 10px;}
.bdRdsR10{border-radius:0 10px 10px 0;}

.TI1em{
	text-indent:-1em;
	padding-left:1em;
}
.TI06em{
	text-indent:-0.6em;
	padding-left:0.6em;
}

.brWord{word-wrap:break-word;}

/*print用*/
.printDown{display:none;}
.printBreak{display:none;}

/*resposive用*/
.pcBrows{}
.spDevice{display:none;}

/*js用*/
.hover, .ovr{}


/*=== メディアクエリ ===*/
@media screen and (max-width:767px){
/*-- Width --*/
.spWAuto{width:auto;}
.spW0{width:0;}
.spW5{width:5px;}
.spW10{width:10px;}
.spW15{width:15px;}
.spW20{width:20px;}
.spW25{width:25px;}
.spW30{width:30px;}
.spW35{width:35px;}
.spW40{width:40px;}
.spW45{width:45px;}
.spW50{width:50px;}
.spW55{width:55px;}
.spW60{width:60px;}
.spW65{width:65px;}
.spW70{width:70px;}
.spW75{width:75px;}
.spW80{width:80px;}
.spW85{width:85px;}
.spW90{width:90px;}
.spW95{width:95px;}
.spW100{width:100px;}
.spW110{width:110px;}
.spW120{width:120px;}
.spW130{width:130px;}
.spW140{width:140px;}
.spW145{width:145px;}
.spW150{width:150px;}
.spW160{width:160px;}
.spW170{width:170px;}
.spW180{width:180px;}
.spW185{width:185px;}
.spW190{width:190px;}
.spW195{width:195px;}
.spW200{width:200px;}
.spW210{width:210px;}
.spW220{width:220px;}
.spW230{width:230px;}
.spW240{width:240px;}
.spW250{width:250px;}
.spW260{width:260px;}
.spW270{width:270px;}
.spW280{width:280px;}
.spW290{width:290px;}
.spW300{width:300px;}
.spW310{width:310px;}
.spW320{width:320px;}
.spW330{width:330px;}
.spW340{width:340px;}
.spW350{width:350px;}
.spW360{width:360px;}
.spW370{width:370px;}
.spW380{width:380px;}
.spW390{width:390px;}
.spW400{width:400px;}
.spW410{width:410px;}
.spW420{width:420px;}
.spW430{width:430px;}
.spW440{width:440px;}
.spW450{width:450px;}
.spW460{width:460px;}
.spW470{width:470px;}
.spW480{width:480px;}
.spW490{width:490px;}
.spW500{width:500px;}
.spW540{width:540px;}
.spW1P{width:1%;}
.spW2P{width:2%;}
.spW3P{width:3%;}
.spW4P{width:4%;}
.spW5P{width:5%;}
.spW6P{width:6%;}
.spW7P{width:7%;}
.spW8P{width:8%;}
.spW9P{width:9%;}
.spW10P{width:10%;}
.spW11P{width:11%;}
.spW12P{width:12%;}
.spW13P{width:13%;}
.spW14P{width:14%;}
.spW15P{width:15%;}
.spW16P{width:16%;}
.spW17P{width:17%;}
.spW18P{width:18%;}
.spW19P{width:19%;}
.spW20P{width:20%;}
.spW21P{width:21%;}
.spW22P{width:22%;}
.spW23P{width:23%;}
.spW24P{width:24%;}
.spW25P{width:25%;}
.spW26P{width:26%;}
.spW27P{width:27%;}
.spW28P{width:28%;}
.spW29P{width:29%;}
.spW30P{width:30%;}
.spW31P{width:31%;}
.spW32P{width:32%;}
.spW33P{width:33%;}
.spW34P{width:34%;}
.spW35P{width:35%;}
.spW36P{width:36%;}
.spW37P{width:37%;}
.spW38P{width:38%;}
.spW39P{width:39%;}
.spW40P{width:40%;}
.spW41P{width:41%;}
.spW42P{width:42%;}
.spW43P{width:43%;}
.spW44P{width:44%;}
.spW45P{width:45%;}
.spW46P{width:46%;}
.spW47P{width:47%;}
.spW48P{width:48%;}
.spW49P{width:49%;}
.spW50P{width:50%;}
.spW51P{width:51%;}
.spW52P{width:52%;}
.spW53P{width:53%;}
.spW54P{width:54%;}
.spW55P{width:55%;}
.spW56P{width:56%;}
.spW57P{width:57%;}
.spW58P{width:58%;}
.spW59P{width:59%;}
.spW60P{width:60%;}
.spW61P{width:61%;}
.spW62P{width:62%;}
.spW63P{width:63%;}
.spW64P{width:64%;}
.spW65P{width:65%;}
.spW66P{width:66%;}
.spW67P{width:67%;}
.spW68P{width:68%;}
.spW69P{width:69%;}
.spW70P{width:70%;}
.spW71P{width:71%;}
.spW72P{width:72%;}
.spW73P{width:73%;}
.spW74P{width:74%;}
.spW75P{width:75%;}
.spW76P{width:76%;}
.spW77P{width:77%;}
.spW78P{width:78%;}
.spW79P{width:79%;}
.spW80P{width:80%;}
.spW81P{width:81%;}
.spW82P{width:82%;}
.spW83P{width:83%;}
.spW84P{width:84%;}
.spW85P{width:85%;}
.spW86P{width:86%;}
.spW87P{width:87%;}
.spW88P{width:88%;}
.spW89P{width:89%;}
.spW90P{width:90%;}
.spW91P{width:91%;}
.spW92P{width:92%;}
.spW93P{width:93%;}
.spW94P{width:94%;}
.spW95P{width:95%;}
.spW96P{width:96%;}
.spW97P{width:97%;}
.spW98P{width:98%;}
.spW99P{width:99%;}
.spW100P{width:100%;}

.spMB0{margin-bottom:0;}
.spMB5{margin-bottom:5px;}
.spMB10{margin-bottom:10px;}
.spMT0{margin-top:0;}
.spMT5{margin-top:5px;}
.spMT10{margin-top:10px;}

.spfltL{float:left;}
.spfltR{float:right;}
.spfltN{float:none;}



}

